.swiper-button-next,
.swiper-button-prev {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  color: rgb(37, 104, 22);
  transition: all 0.2s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  /* background-color: rgb(254, 250, 224); */
  transform: scale(1.2);
}
